<div class="card border-0 shadow height-90vh">
  <div class="card-header border-bottom d-flex align-items-center justify-content-between">
    <h2 class="fs-5 fw-bold mb-0">Solicitudes de recursos</h2><a href="#" class="btn btn-sm btn-primary">Todas</a></div>
  <div class="card-body overflow-y-auto px-0">
    <div class="accordion accordion-flush mt-2" id="resourceRequestAccordion">
      <%= render @resource_requests %>
    </div>
  </div>
</div>