<div class="card border-0 shadow height-300 mb-3">
  <div class="card-header border-bottom d-flex align-items-center justify-content-between">
    <h2 class="fs-5 fw-bold mb-0">Pr&oacute;ximos eventos</h2>
  </div>
  <div class="card-body overflow-y-auto p-0">
    <div class="accordion accordion-flush mt-2" id="scheduledEventsAccordion">

    </div>
  </div>
</div>