<div class="row">
  <div class="col-12 col-xl-4">
    <%= render 'resource_requests' %>
  </div>
  <div class="col-12 col-xl-8">
    <div data-controller="map">
      <div data-map-target="map" class="height-90vh"></div>
    </div>
  </div>
</div>