<%= render 'resource_requests/new_action_button' unless @event.closed %>

<div class="accordion accordion-flush mt-2" id="resourceRequestAccordion">
<%= turbo_frame_tag "resource_requests" do  %>
  <%= render @resource_requests %>
<% end %>
</div>