<div class="nested-form-wrapper d-flex align-items-center" data-new-record="<%= f.object.new_record? %>">
  <%= f.association :resource, collection: Resource.active_resources, prompt: 'Buscar recurso',
                    include_blank: false,
                    label_method: :name, value_method: :id, label: false,
                    wrapper_html: { class: 'col-7' },
                    input_html: {
                      data: { controller: 'ts--select' }
                    }
                    %>
  <%= f.input :quantity, :as => :integer, label: false, wrapper_html: { class: 'col-3 mx-1' }, placeholder: "Cant." %>
  <button type="button" data-action="nested-form#remove" class="btn brt-link text-danger mb-3 ms-auto" title="Eliminar">
    <i class="fas fa-trash-can"></i>
  </button>

  <%= f.hidden_field :_destroy %>
</div>