/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.spinner {
  display: flex;
  justify-content: center;
}

.spinner::after {
  content: "";
  width: 50px;
  height: 50px;
  animation: loading 1s ease infinite;
}

.form-check{
  display: flex;
}
.form-check .form-check-input{
  margin-right: .6em;
}
form abbr[title], form abbr[data-bs-original-title] {
  text-decoration: none;
}
.form-group {
  margin-bottom: 1rem;
}
.form-control.flatpickr-input[readonly] {
  background-color: initial;
}
.color-red {
  color: red;
}
.color-yellow {
  color: yellow;
}
.color-green {
  color: green;
}
.color-black {
  color: black;
}
.overflow-y-auto {
  overflow-y: auto;
}
.height-90vh{
  height: 90vh;
}
.height-80vh{
  height: 80vh;
}
.height-300{
  height: 300px;
}

.table-responsive .table tbody {
  border-top: none;
}
.table-responsive .table .thead-light th {
  background-color: #f5dbb8;
}

.notification-list{
  max-height: 75vh;
  overflow-y: auto;
}