// Place all the styles related to the assist_requests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.assist-available {
  color: green;
}
.assist-not_available {
  color: gray;
}
.assist-assigned_to {
  display: none;
}