// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.accordion-flush .accordion-button:not(.collapsed){
  background-color: #f0bc74;
  color: #4B5563;
}
.accordion-collapse.show {
  background-color: #f0bc744d;
  color: #4B5563;
}
.form-floating.select2-form {
  border: 0.0625rem solid #D1D5DB;
  border-radius: 0.5rem;
  padding: 1rem;
  label{
    left: -0.85rem;
  }
  .select2-selection {
    border: none !important;
    box-shadow: none !important;
    padding-top: 1rem;
    padding-left: 0;
  }
}
