body {
    background-color: #f2f4f6;
    color: #1f2937;
    font-family: sans-serif;
}
.container {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}
.container.card {
    background-color: white;
}
.card-header h1 {
    margin: 0;
    font-size: 24px;
    text-align: center;
}
.card-header {
    background-color: #f0bc74;
    border-bottom: 1px solid grey;
    border-radius: 5px 5px 0 0;
    padding: 20px 10px 5px;
}
.card-body {
    background-color: white;
    border-radius: 0 0 5px 5px;
    padding: 20px 10px;
}
.text-danger {
    color: red;
}
.ms-3 {
    margin-left: 1.5rem;
}
.text-center{
    text-align: center;
}
.btn {
    display: inline-block;
    font-weight: 500;
    line-height: 1.5;
    color: #374151;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 0.0625rem solid transparent;
    padding: 0.5rem 1rem;
    font-size: 0.875rem;
    border-radius: 0.5rem;
}
a.btn {
    text-decoration: none;
}
.btn-primary {
    color: #1F2937;
    background-color: #f0bc74;
    border-color: #f0bc74;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(17, 24, 39, 0.075)
}