<% resources.each do |rpo| %>
  <tr>
    <td class="text-start col-4"><%= rpo.resource.name %></td>
    <td class="text-start"><%= rpo.quantity %></td>
    <td class="text-start"><%= rpo.quantity - rpo.quantity_used %></td>
    <td class="text-end">
      <%= link_to edit_organization_resource_per_organization_path(@organization, rpo), class: 'text-info me-1 my-0 fs-5', title: 'Editar' do %>
        <span class= "fa fa-pen-to-square"></span>
      <% end if can? :edit, rpo %>
    </td>
  </tr>
<% end %>