<tr id="organization-collapse<%= organization.id %>" class="accordion-collapse collapse">
  <td colspan="4" class="pe-0 ps-3 py-0">
    <table class="table mb-0">
      <%= render 'table', organizations: organization.child_organizations %>
    </table>
  </td>
</tr>