<div class="row g-0">
  <span class="col-lg-6"><%= resource_request_item.resource.name %></span>
  <div class="col-lg-3">Solicitado: <%= resource_request_item.quantity %></div>
  <div class="col-lg-3">Asistido: <%= resource_request_item.quantity_used %></div>
</div>

